* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #77bd98;
}

.navbar {
  justify-content: space-around;
  display: flex ;

  :nth-child(2) {
    justify-content: flex-end;
  }
  div {
    width: 100%;
    display: flex;
  }
  #buttons {
    display: flex;

    // justify-content: space-evenly;
    #newGame {
      // align-self: flex-end !important;
      margin-right: 0.5rem;
    }
  }
  .navbar-brand {
    // align-self: 
    margin: 0;
  }
}



.container-fluid {
  height: 90vh;

  .card-container {
    display: flex;
    // grid-template-columns: 1fr 8fr;
  }

    .stage-area-right,
    .stage-area-left {
      height: 90vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-self: center;
      justify-self: center;
      
    
      .comp-cards-section,
      .player-cards-section,
      .stage {
        display: flex;
        justify-content: space-around;
        // padding: 0 0 0 0.5rem;
        border-style: groove;
        border-radius: 1em;
        background-color: #7ca385;
        width: 100%;
      }
    
      .comp-img-container,
      .player-img-container {
         display: flex;
         justify-content: center; 
         align-items: center;  
         height: 4rem;
         width: 4rem;
         margin: 0 0 0 10px;
 
        .player-img,
        .comp-img {
          display: flex;
          justify-content: center; 
          align-items: center; 
          border-style: groove;
          border-radius: 0.4em;
          // padding: 11.2px 0 0 11.2px;
          height: 4rem;
          width: 4rem;
          /* width: 85.081px; */
          /* height: 114.206px; */
          background-color: #7ca385;
          // justify-self: center;
          // align-self: center;
        }
      }
    }
    .result-div {
      display: flex;
      flex-direction: column;
      padding: 15px 30px 15px 0;
      height: 100%;

      #compPointsParent {
        text-align: left;
        padding-left: 14%;
        // justify-content: left;
        // margin-left: 5em;
        // padding-left: 3em;
        #compPoints {
          // margin-left: 3em;
        }
      }
      #playerPointsParent {
        text-align: left;
        padding-left: 14%;
      }

    
      th,
      tr,
      td,
      thead,
      tbody {
        text-align: center;
        width: 100%;
      }
    }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.playingCards {
  margin-bottom: 0em;
  margin-top: 0.5em;
}

%stage-shared {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;

}
.comp-cards-section {
  height: 23%;
}

#comp-card-1 {
  height: 80%;
}

.player-cards-section {
  height: 23%;
}

.stage {
  flex-direction: column;
  height: 47%;
  
  ul {
    width: 27rem;
  }
  // &-up {
  //   @extend %stage-shared;
  // }

  // &-down {
  //   @extend %stage-shared;
  // }
}
#stageCards {
  flex-wrap: wrap;

}

.deck-container {
  display: flex;
  // justify-self: center;
  align-self: center;
  width:6em;
  // height: 100px;
}

.placeholder {
  border-style: groove;
  border-radius: 0.4em;
  // padding: 11.2px 0 0 11.2px;
  // height: ;
  /* width: 85.081px;  99.284px;*/
  /* height: 114.206px; 119.409px*/
  // margin: 5px;
  background-color: #7ca385;
  // margin: ;
  // align-items: center;
  // justify-content: center;
}

img {
  object-fit: contain;
  max-width: 3.8rem;
  max-height: 3.8rem;
}

.center {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.table-primary th {
  background-color: rgb(95, 226, 156);
}


.selectedCard {
  border: 0.16em outset rgb(68, 249, 255) !important;
  font-size: 1.39em !important;
  // border-color: rgb(164, 230, 164) !important;
}

.playingCards ul.deck {
  height: 6.5rem;
  width: 5rem;
}

